*{
    list-style: none;
    text-decoration: none;
}

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainMenu{
    width: 250px;
    display: block;
    border-radius: 10px;
    overflow: hidden;
}

.item{
    border-top: 1px solid hsl(134, 93%, 28%);
    overflow: hidden;
}

.btn{
    display: block;
    padding: 15px 20px;
    background-color: hsl(134, 93%, 28%);
    color: #fff;
    position: relative;
}

.btn:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right:8px solid transparent;
    border-top:10px solid hsl(134, 93%, 28%);
    right: 15px;
    bottom: -10px;
    z-index: 9;
}

.btn i {
    margin-right: 10px;
}

.subMenu{
    background:hsl(27, 36%, 35%);
    overflow: hidden;
    transition: max-height 0.7s;
    max-height: 0;
}

.subMenu a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    font-size: 14px;
    position: relative;
}

.subMenu a:before{
    content: '';
    opacity: 0;
    transition: opacity 0.3s;
}

.subMenu a:before{
    content: '';
    position: absolute;
    height: 0;
    width: 6px;
    left: 0;
    top:0;
    opacity: 1;
    border-top: 24px solid transparent;
    border-left: 11px solid hsl(49, 100%, 50%);
    border-bottom: 24px solid transparent;
}

.subMenu a:after{
    content: '';
    opacity: 0;
    transition: opacity 0.3s;
}

.subMenu a:after{
    content: '';
    position: absolute;
    height: 0;
    width: 6px;
    right: 0px;
    top:0;
    opacity: 1;
    border-top: 24px solid transparent;
    border-right: 11px solid hsl(49, 100%, 50%);
    border-bottom: 24px solid transparent;
}

.subMenu a:hover{ 
    background: -moz-linear-gradient(top,hsl(27, 36%, 35%) 0%,hsl(27, 36%, 35%) 50%, hsl(27, 32%, 44%) 51%, hsl(27, 32%, 44%) 100%);
    background: -webkit-linear-gradient(top,hsl(27, 36%, 35%) 0%,hsl(27, 36%, 35%)50%,hsl(27, 32%, 44%) 51%,hsl(27, 32%, 44%) 100%);
    background: linear-gradient(to bottom,hsl(27, 36%, 35%) 0%,hsl(27, 36%, 35%)50%,hsl(27, 32%, 44%) 51%,hsl(27, 32%, 44%) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='hsl(134, 93%, 28%)', endColorstr='hsl(27, 32%, 44%)',GradientType=0 );
    transition: all 0.3s;
}

.subMenu a:last-child{
    border:none;
}

.item:target .subMenu{
    max-height: 10em;
}