html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color:hsl(49, 100%, 50%);
    font-family: 'Open Sans', sans-serif;
}

header {
    padding-top: 5%;
    padding-bottom: 2%;
    text-align: center;
    background-color:hsl(134, 93%, 28%);
}

.topmenu {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    background:hsl(134, 93%, 28%);
}

.topmenu a {
    display: inline-block;
    padding: 2%;
    color: white;
    text-decoration: none;
}

.topmenu a:hover {
    background-color:hsl(49, 100%, 50%);
}

.main {
    padding: 2%;
    background-color:hsl(27, 36%, 35%);
}

.button {
    display: block;
    margin: auto;
    width: 6em;
    font-size: 1em;
    background-color: hsl(134, 93%, 28%);
    border: none;
    color: white;
    padding: 1em 1em;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background-color: hsl(49, 100%, 50%);
}

h1 {
    display: inline-block;
    font-size: 3em;
    color: white;
    font-weight: 800;
}

h2 {
    color: white;
}

h3 {
    color: white;
    text-align: center;
}

footer a {
    padding: 1%;
    background-color:hsl(49, 100%, 50%);
    text-decoration: none;
    padding-right: 2%;
    padding-left: 2%;
}

img {
    width: 100%;
    height: auto;
}