.discount {
    border-radius: 15%;
    margin-left: auto;
    width: 90px;
    height: 60px;
    background-color: yellow;
    color: red;
    transform: rotate(20deg);
    padding: 5px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    transition: width 0.5s;
}
.discount:hover {
    padding: 15px;
    width: 120px;
}