.table2, th, td {
    width: 60%;
    margin: auto;
    border-collapse: collapse;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}
td:nth-child(1) {
    background-color: hsl(27, 32%, 44%);
}
td:nth-child(2) {
    background-color: hsl(27, 32%, 28%);
}