.information, th, td {
    width: 60%;
    margin: auto;
    border-collapse: collapse;
    border: solid hsl(27, 36%, 35%);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.m {
    background-color:hsl(134, 93%, 28%);
}
.l {
    background-color:hsl(49, 100%, 50%);
}
.w {
    background-color:hsl(27, 35%, 41%);
}