/* Popup box BEGIN */
.hover_bkgr_fricc {
    background: rgba(0, 0, 0, .4);
    cursor: pointer;
    display: none;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.hover_bkgr_fricc.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    padding: 15px 5%;
    position: relative;
    vertical-align: middle;
    width: 60%;
    border-radius: 8px;
}

.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    font-size: 25px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: -20px;
    text-align: center;
    top: -20px;
    width: 30px;
}

.popupCloseButton:hover {
    background-color: #ccc;
}

.trigger_popup_fricc {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}
/* Popup box END */