table, th, td {
    width: 60%;
    margin: auto;
    border-collapse: collapse;
    background-color:hsl(27, 35%, 42%);
    border: solid hsl(27, 36%, 35%);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}