input[type="checkbox"].menuInput {
    display: none;                   
}
.menuLabel {
    position: fixed;
    top: .9em;
    left: .9em;
    width: 1.6em;
    height: 1.6em;
    font-size: 2em;
    text-align: center;
    color:white;
    background-color:hsl(49, 100%, 50%);
    border-radius: 50%;
  
    transition: all .4s ease;
    z-index: 999;
}
.menuInput:checked + .menuLabel {
    transform: translate(-10px, -3px) rotate(-90deg);
    transition: all .5s ease;
}
.menuInput:checked ~ .topmenu {
    position: fixed;
    top:3em;
    left: 0;
    z-index: 980;
    transition: all .5s ease;
}

.topmenu {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    background: hsl(134, 93%, 28%);
}

.topmenu a {
    display: inline-block;
    padding: 2%;
    color: white;
    text-decoration: none;
}

.topmenu a:hover {
    background-color: hsl(49, 100%, 50%);
}

.topmenu {
    display: block;
    position: fixed;
    top: 3em;
    left: -40em;
    z-index: 980;
    width: 70%;
    background-color:hsl(49, 100%, 50%);
    transition: all .5s ease;
}
  
.topmenu a {
    display: block;     
    font-size: .15epx;
    color: rgb(255,255,255);
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5em;
}
  
.topmenu a:hover,
.topmenu a:active,
.topmenu a:focus,
.logo a:hover {
    background-color:hsl(134, 93%, 28%);
    transition: all .3s ease;
} 
  
.topnav {
    background-color:hsl(49, 100%, 50%);
}
.topnav p {
    color: white;
}
  
@media screen and (min-width: 48em) {
.topnav {
    position: fixed;
    z-index: 2;
    top:0;
    left: 0;
    width: 100%;
}
}

@media screen and (min-width: 60em) {
.topnav {
    display: grid;
    }
.topmenu {
    display: flex;
    flex-flow: row;   
    position: relative;
    top:0;
    left: 1em;
    width: 100%;
    background-color: transparent;
    transition: none;
}

.menuLabel {
      display: none;
}
}